@using Padrinly.Common.Extensions
@model Padrinly.Domain.Entities.Person
@{
    ViewData["Title"] = "Página inicial";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Fonte Montserrat Alternates-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Fonte Montserrat -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


</head>

@if (User.IsInRole("Patron") && ViewBag.IsPatron != true)
{
    <body class="ImagemBoasVindas">
    <div>
      
        <div>
            <h1 class="BoasVindasT">Olá! Damos a você boas-vindas ao Padrin.Ly!</h1>
            <p class="BoasVindas">
                <br />
                <br />
                Hoje, milhões de crianças e adolescentes no Brasil enfrentam desafios diários devido à falta de acesso a recursos básicos como educação, saúde e alimentação. 
                A desigualdade social impede que muitos desses jovens alcancem seu pleno potencial, perpetuando um ciclo de pobreza e marginalização.
                <br />
                <br />
                Ao participar do nosso projeto, você estará fazendo mais do que apenas uma doação: 
                estará investindo no futuro de uma criança, oferecendo-lhe esperança, oportunidades e a chance de alcançar seus sonhos! 
                Além disso, estará contribuindo para a construção de uma sociedade mais justa, solidária e igualitária!  
                <br />
                <br />
                Para se tornar um padrinho ou madrinha, basta se cadastrar em nossa plataforma e automaticamente lhe atribuiremos uma criança. 
                Você receberá atualizações regulares sobre seu progresso e desenvolvimento, além de poder interagir com ela e sua família através de nossa plataforma!
            </p>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm">
                </div>
                <div class="col-sm" id="BoasVindasB">
                    <a asp-controller="Person" asp-action="CreatePatron" class="LargeButton">finalize seu registro agora!</a>
                </div>
                <div class="col-sm">
                </div>
            </div>
        </div>
    </div>
    
    </body >
}
else if (User.IsInRole("Patron") && ViewBag.IsPatron == true)

 {
    <!--Titulo da página + botões-->

    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col" id="TituloPagina">
                Bem vindo(a)!
            </div>
            <div class="col">
                <a asp-controller="Person" asp-action="Edit" asp-route-id="@ViewBag.PersonId" class="btnsettingssmall">Editar Perfil</a>
                <a asp-controller="Person" asp-action="Delete" asp-route-id="@ViewBag.PersonId" class="btnsettingsdel">Excluir conta</a>
            </div>
        </div>
    </div>
            
    <hr />

    <div class="container">
        <div class="row">
            <div class="col-sm-10">
            </div>
            <div class="col-sm">
                <a asp-controller="PersonPatron" asp-action="Affiliate" class="btnsettingssmall">nova afiliação</a>
            </div>
        </div>
    </div>

    <div class="BoxAfilhadoHome">
   
            @foreach (var student in @ViewBag.PatronList)
            {
                <div class="container">
                    <div class="row">
                        <div class="col-sm" style="margin: 10px">
                            <a asp-controller="Person" asp-action="Details" asp-route-id="@student.IdUser">
                                <img src="/images/@{@student.AvatarFileName}" width="500" /> 
                            </a>
                        </div>
                        <div class="col-sm BoxApresentacao">
                                <br />
                                <br />
                                <br />
                                Olá! É muito bom te conhecer! 
                                <br />
                                <br />
                                Meu nome é @student.Name!
                                <br />
                                <br />
                                Moro em @student.City!
                                <br />
                                <br />
                                Clique em minha foto para você conhecer mais sobre mim!
                        </div>
                    </div>
                </div>
            }
    </div>

 

 }


 else if (User.IsInRole("Institution"))

 {
    <!--Titulo da página + botão sair-->

    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col" id="TituloPagina">
                Bem vindo(a)!
            </div>
            <div class="col">
            </div>
        </div>
    </div>

    <hr />

    <div class="container">
        <div class="row">
            <div class="col-sm DescribeOptions">
                Este é o espaço para os afilhados e responsáveis da sua instituição
                <br />
                <br />
                Espaço para cadastrar, editar e excluir dados de afilhados e responsáveis
            </div>
            <div class="col-sm" id="BoasVindasB">
                <a asp-controller="Person" asp-action="Index"><button class="XGButton">registro de afilhados/responsáveis</button></a>
            </div>
        </div>
    </div>
    <hr />

    <div class="col" id="BoasVindasB">
       
    </div>

   }


 else if(User.IsInRole("Student"))
 {
    <!--Titulo da página + botão sair-->

    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col" id="TituloPagina">
                Bem vindo(a)!
            </div>
            <div class="col">
            </div>
        </div>
    </div>

    <hr />


    <div class="container">
        <div class="row">
            <div class="col-sm DescribeOptions">
                Veja seu perfil e crie posts para seu padrinho!
                <br/>
                <br/>
                Use e abuse da criatividade! Escreva suas conquistas, o que gosta ou algo que te deixa feliz!
            </div>
            <div class="col-sm" id="BoasVindasB">
                <a asp-controller="Person" asp-action="Details" asp-route-id="@ViewBag.UserId"><button class="XGButton">Meu Perfil</button></a>
            </div>
        </div>
    </div>
    <hr />
   }


else if (User.IsInRole("Admin"))
{
    <!--Titulo da página + botão sair-->

    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col" id="TituloPagina">
                bem-vindo(a)!
            </div>
            <div class="col">
            </div>
        </div>
    </div>

    <hr />


    <div class="container">
        <div class="row">
            <div class="col-sm DescribeOptions">
                Espaço destinado para cadastro das instituições no programa
            </div>
            <div class="col-sm" id="BoasVindasB">
                <a asp-controller="Person" asp-action="InstitutionIndex" asp-route-id="@ViewBag.UserId"><button class="XGButton">ver instituições cadastradas</button></a>
            </div>
        </div>
    </div>
    <hr />
}
