@model Padrinly.Domain.Entities.Person

@{
    ViewData["Title"] = "Excluir registro";
}

<!--Titulo da página + botão voltar-->

<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6" id="TituloPagina">
            Exclusão de registro
        </div>
        <div class="col">
            @if (User.IsInRole("Admin"))
            {
                <a asp-action="InstitutionIndex"><button type="button" class="btnsettings">voltar</button></a>
            }
            else if (User.IsInRole("Institution"))
            {
                <a asp-action="Index"><button type="button" class="btnsettings">voltar</button></a>
            }
            else
            {
                <a asp-controller="Home" asp-action="Index"><button type="button" class="btnsettings">voltar</button></a>
            }
        </div>

    </div>
</div>

<hr />

    @if (ViewBag.StudentList != null && ((List<Person>)ViewBag.StudentList).Count > 0)
    {
        <div class="alert alert-warning" role="alert">
            Esta pessoa não pode ser excluída por ser responsável pelo(s) seguinte(s) afilhado(s):
            <ul>
                @foreach (var student in (List<Person>)ViewBag.StudentList)
                {
                    <li>@student.Name</li>
                }
            </ul>
        </div>
    }
    @if (ViewBag.ConfirmInstitution != null)
    {
        <div class="alert alert-warning" role="alert">
            @ViewBag.ConfirmInstitution
        </div>

    }
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsAnonimous)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsAnonimous)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AvatarFileName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AvatarFileName)
        </dd>
       
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        
       
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstDocument)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstDocument)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SecondDocument)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SecondDocument)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Neighborhood)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Neighborhood)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Complement)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Complement)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="EXCLUIR" class="btn btnsettingsdel" />
    </form>
</div>



<!--
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.AvatarInternalName)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.AvatarInternalName)
</dd>
<dt class="col-sm-2">
@Html.DisplayNameFor(model => model.Responsible)
        </dt>
        <dd class="col-sm-10">
@Html.DisplayFor(model => model.Responsible.Address)
        </dd>
 <dt class="col-sm-2">
@Html.DisplayNameFor(model => model.Institution)
        </dt>
        <dd class="col-sm-10">
@Html.DisplayFor(model => model.Institution.Address)
        </dd>

-->
