@using Microsoft.AspNetCore.Components
@model Padrinly.Domain.Entities.Person

@{
    ViewData["Title"] = "Detalhes de registro";
}

<link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />


<!--Titulo da página + botão voltar-->

<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6" id="TituloPagina">
            ver detalhes
        </div>
        <div class="col">
            @if (User.IsInRole("Admin"))
            {
                <a asp-action="InstitutionIndex"><button type="button" class="btnsettings">voltar</button></a>
            }
            else
            {
                <a asp-action="Index"><button type="button" class="btnsettings">voltar</button></a>
            }
        </div>
    </div>
</div>

<hr />

<div class="container">
    <div class="row">
        <div class="col">
            <dl class="row">
                <dt class="col-12" id="dtAvatar">
                    @Html.DisplayNameFor(model => model.AvatarFileName)
                </dt>
                <dd class="col-12" id="ddAvatar">
                    <img src="/images/@Model.AvatarFileName" width="500" />
                </dd>
                   
                <dt class="col-4">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-8">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-4">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-8">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                @if (User.IsInRole("Student"))
                {
                    <form id="postForm" method="post" asp-action="CreatedPost">
                        <div id="editor"></div>
                        <input type="hidden" name="Content" id="content">
                        <div class="col-1">
                            <button type="submit" class="btnsettings">Postar</button>
                        </div>
                    </form>
                }
                @if(ViewBag.ListPost != null)
                {
                    @foreach (var post in ViewBag.ListPost)
                    {
                        <div style="margin-bottom: 50px;">
                            <span>@post.CreatedAt</span>
                            @Html.Raw(post.Content)
                        </div>
                    }
                }
            </dl>
        </div>
    </div>
</div>
   
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        const quill = new Quill('#editor', {
          modules: {
            toolbar: [
              [{ header: [1, 2, false] }],
              ['bold', 'italic', 'underline'],
              ['image', 'code-block'],
            ],
          },
          placeholder: 'Compose an epic...',
          theme: 'snow', // or 'bubble'
        });

        document.getElementById('postForm').onsubmit = function() {
            const content = quill.root.innerHTML;
            document.getElementById('content').value = content;
        };
    </script>

}
